h1{
    font-size: 50px;
}
body{
    font-family: 'Crimson Text', serif;
}
.name-highlight{
    color: brown;
}
.half-width{
    width: 35%;
    float: left;
    margin: 5%;
    padding: 2%;
}
.half-width image{
    width: 100%;
}